.mid_block
  .container
    .row
      .col-md-3.visible-md-block.visible-lg-block
        #top.speaker-nav{data: {spy: "affix", offset_top: "310"}}
          %ul.nav.nav-tabs
            %li.active
              %a{href: "#names", data: {toggle: "tab"}} Names
            %li
              %a{href: "#talks", data: {toggle: "tab"}} Talks

          .tab-content
            .tab-pane.active{id: "names"}
              .nav-wrapper
                %ul.nav.nav-list
                  -@speakers.order('name').each do |speaker|
                    %li
                      %a{href: "sessions#speaker_#{speaker.id}"}
                        %i.glyphicon.glyphicon-chevron-right
                        = speaker.name
            .tab-pane{id: "talks"}
              .nav-wrapper
                %ul.nav.nav-list
                  -@sessions.order('name').each do |session|
                    %li
                      %a{href: "sessions#session_#{session.id}"}
                        %i.glyphicon.glyphicon-chevron-right
                        = session.name

      .col-md-9
        %ul.speaker-list
          - @sessions.each do | session |
            %li.speaker-session-row
              .row
                .session{:id => "session_#{session.id}"}
                  -session.speakers.each do |speaker|
                    -photo = "https://s3.amazonaws.com/selfconf/speakers/#{speaker.name.downcase.parameterize}.jpg"
                    .img-rounded.speaker-img.img-responsive.visible-sm-block.visible-md-block.visible-lg-block.pull-right{style: "background-image:url(#{photo});", :id => "speaker_#{speaker.id}"}
                    .img-rounded.speaker-img.img-responsive.visible-xs-block{style: "background-image:url(#{photo});", :id => "speaker_#{speaker.id}"}
                  %h4
                    = "#{session.speakers.map(&:name).join(", ")}: #{if session.keynote then "Keynote - " end}#{session.name}"
                  %h5.italic
                    = raw session.speakers.map { |speaker| "<a href=\"http://twitter.com/#{speaker.twitter}\">@#{speaker.twitter}</a>" }.join(", ")
                  %p= raw session.abstract
                -session.speakers.each do |speaker|
                  .speaker
                    %h5.italic
                      ="About #{speaker.name}"
                    %p= raw speaker.bio

:javascript
  $(function() {
    $('.nav-tabs li>a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
  });
