= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-3.visible-md-block.visible-lg-block
        #top.speaker-nav{data: {spy: "affix", offset_top: "310"}}
          %ul.nav.nav-tabs
            %li.active
              %a{href: "#names", data: {toggle: "tab"}} Names
            %li
              %a{href: "#talks", data: {toggle: "tab"}} Talks

            - sessions_root = @event == Event.latest ? sessions_path : "/events/#{@event.id}/sessions"
          .tab-content
            .tab-pane.active{id: "names"}
              .nav-wrapper
                %ul.nav.nav-list
                  -@sessions.map(&:nav_speaker_display).sort { |a,b| a[:name] <=> b[:name] }.each do |speaker|
                    %li
                      = link_to "#{sessions_root}#speaker_#{speaker[:id]}" do
                        %i.glyphicon.glyphicon-chevron-right
                        = speaker[:name]
            .tab-pane{id: "talks"}
              .nav-wrapper
                %ul.nav.nav-list
                  -@sessions.each do |session|
                    %li
                      = link_to "#{sessions_root}#session_#{session.id}" do
                        %i.glyphicon.glyphicon-chevron-right
                        = session.name

      .col-md-9.col-xs-12
        .speaker-list
          - @sessions.each do | session |
            .row.speaker-session-row
              .session{:id => "session_#{session.id}"}
                -session.speakers.decorate.each do |speaker|
                  .speaker-img.img-rounded.pull-right.visible-sm-block.visible-md-block.visible-lg-block
                    = image_tag speaker.photo, class: 'img-responsive', id: "speaker_#{speaker.id}"
                  .speaker-img.img-rounded.visible-xs-block
                    = image_tag speaker.photo, class: 'img-responsive', id: "speaker_#{speaker.id}"

                %h4
                  = "#{session.speaker_names}: #{session.name}"
                %h5
                  - schedule_root = @event == Event.latest ? schedule_path : schedule_event_path(@event)
                  = link_to "#{session.room.name}, #{session.slot}", schedule_root if session.room
                %h5.italic
                  = simple_format session.twitter_handles
                %p= simple_format session.abstract
              .speaker
                %h5.italic
                  ="About #{session.speaker_names}"
                %p= simple_format session.speakers.first.bio

:javascript
  $(function() {
    $('.nav-tabs li>a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
  });
