.mid_block
  .container
    .row
      .col-md-12
        %ul.speaker-list
          - @sessions.each do |session|
            %li.speaker-session-row
              .row
                .col-md-8.session
                  %h4{:id => "session_#{session.id}"}= session.name
                  %p= raw session.abstract
                .col-md-4
                  -session.speakers.each do |speaker|
                    .speaker{:id => "speaker_#{speaker.id}"}
                      %img.img-polaroid.img-rounded.speaker-img.pull-left{:src => speaker.photo}/
                      %h4
                        = speaker.name
                        - if speaker.twitter.present?
                          %h5.italic
                            %a{:href => "http://twitter.com/#{speaker["twitter"]}"}= "@#{speaker["twitter"]}"
                      %p= raw speaker.bio
