= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-3.visible-md-block.visible-lg-block
        #top.speaker-nav{data: {spy: "affix", offset_top: "310"}}
          %ul.nav.nav-tabs
            %li.active
              %a{href: "#names", data: {toggle: "tab"}} Names
            %li
              %a{href: "#talks", data: {toggle: "tab"}} Talks

          .tab-content
            .tab-pane.active{id: "names"}
              .nav-wrapper
                %ul.nav.nav-list
                  -@sessions.map(&:nav_speaker_display).sort { |a,b| a[:name] <=> b[:name] }.each do |speaker|
                    %li
                      = link_to "#{sessions_path(@event)}#speaker_#{speaker[:id]}" do
                        %i.glyphicon.glyphicon-chevron-right
                        = speaker[:name]
            .tab-pane{id: "talks"}
              .nav-wrapper
                %ul.nav.nav-list
                  -@sessions.each do |session|
                    %li
                      = link_to "#{sessions_path(@event)}#session_#{session.id}" do
                        %i.glyphicon.glyphicon-chevron-right
                        = session.name

      .col-md-9.col-xs-12
        .speaker-list
          - @sessions.each do | session |
            .row.speaker-session-row
              .session{:id => "session_#{session.id}"}
                -session.speakers.each do |speaker|
                  .img-rounded.speaker-img.img-responsive.visible-sm-block.visible-md-block.visible-lg-block.pull-right{style: "background-image:url(#{speaker.photo});", :id => "speaker_#{speaker.id}"}
                  .img-rounded.speaker-img.img-responsive.visible-xs-block{style: "background-image:url(#{speaker.photo});", :id => "speaker_#{speaker.id}"}
                %h4
                  = "#{session.speaker_names}: #{session.name}"
                %h5
                  = link_to "#{session.room.name}, #{session.slot}", schedule_event_path(@event)
                %h5.italic
                  = raw session.twitter_handles
                %p= raw session.abstract
              .speaker
                %h5.italic
                  ="About #{session.speaker_names}"
                %p= raw session.speakers.first.bio

:javascript
  $(function() {
    $('.nav-tabs li>a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
  });
