= render partial: "shared/header", event: @event

.mid_block.schedule
  .container
    .row
      .col-md-12.visible-md-block.visible-lg-block
        -@schedule.keys.each do |day|
          %h4= day.strftime("%A, %b %d")
          %table.table.table-striped.table-bordered
            %tr
              %td.col-md-1
              -@schedule[day][@schedule[day].keys[2]].keys.map(&:name).each do |room|
                %td.col-md-2
                  %h5= room
            -@schedule[day].keys.each do |slot|
              %tr
                %td.col-md-1
                  %h5= "#{slot.in_time_zone('EST').strftime('%l:%M %p')} - #{(slot + 45.minutes).in_time_zone('EST').strftime('%l:%M %p')}"
                - @schedule[day][slot].keys.each do | room |
                  %td.col-md-2
                    -session = @schedule[day][slot][room]
                    - if session.present?
                      =link_to "#{session.speaker_names}: #{session.name}", "sessions#session_#{session.id}"

      .col-md-12.visible-xs-block.visible-sm-block.phone-schedule
        -@schedule.keys.each do |day|
          %h4= day.strftime("%A, %b %d")
          -@schedule[day].keys.each do |slot|
            %h5= slot.in_time_zone("EST").strftime('%l:%M %p')
            %ul
              - @schedule[day][slot].keys.each do | room |
                -session = @schedule[day][slot][room]
                %li
                  ="#{room.name}: "
                  - if session.present?
                    =link_to "#{session.speaker_names}: #{session.name}", "sessions#session_#{session.id}"
