= form_for [:admin, @event], html: {class: 'form-horizontal'} do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :name, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :about, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :about, class: 'form-control', rows: 5

  .form-group
    = f.label :venue_id, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :venue_id, Venue.all.collect {|v| [v.name, v.id]}, {include_blank: false}, {class: 'form-control'}

  .form-group
    = f.label :twitter, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :twitter, class: 'form-control'

  .form-group
    = f.label :lanyard, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :lanyard, class: 'form-control'

  .form-group
    = f.label :tito_name, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :tito_name, class: 'form-control'

  .form-group
    = f.label :start_date, class: 'col-md-2 control-label'
    .col-md-10
      = f.datetime_local_field :start_date, class: 'form-control'

  .form-group
    = f.label :end_date, class: 'col-md-2 control-label'
    .col-md-10
      = f.datetime_local_field :end_date, class: 'form-control'

  .form-group
    = f.label :extra, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :extra, class: 'form-control'

  .panel-group.col-md-12#accordion{role: "tablist", "aria-multiselectable" => "true"}
    .panel-heading#headingOne{role: "tab"}
      %h4
        %a.collapsed{href: "#collapseOne", role: "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "collapseOne"}
          Timelines
          %span.glyphicon.glyphicon-chevron-down{"aria-hidden" => "true"}

    #collapseOne.col-md-offset-2.col-md-10.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "headingOne"}
      .well
        = f.fields_for :timelines do  |slot|
          = render 'timeline_fields', f: slot
        .links
          = link_to_add_association 'add timeline', f, :timelines, class: "btn small-button purple-button"

    .panel-heading#headingTwo{role: "tab"}
      %h4
        %a.collapsed{href: "#collapseTwo", role: "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "collapseTwo"}
          Slots
          %span.glyphicon.glyphicon-chevron-down{"aria-hidden" => "true"}

    #collapseTwo.col-md-offset-2.col-md-10.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "headingTwo"}
      .well
        = f.fields_for :slots do  |slot|
          = render 'slot_fields', f: slot
        .links
          = link_to_add_association 'add slot', f, :slots, class: "btn small-button purple-button"

    .panel-heading#headingThree{role: "tab"}
      %h4
        %a.collapsed{href: "#collapseThree", role: "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "collapseThree"}
          Sponsors
          %span.glyphicon.glyphicon-chevron-down{"aria-hidden" => "true"}

    #collapseThree.col-md-offset-2.col-md-10.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "headingThree"}
      .well
        = f.fields_for :sponsors do  |sponsor|
          = render 'sponsor_fields', f: sponsor
        .links
          = link_to_add_association 'add sponsor', f, :sponsors, class: "btn small-button purple-button"

    .panel-heading#headingFour{role: "tab"}
      %h4
        %a.collapsed{href: "#collapseFour", role: "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "collapseFour"}
          Metrics
          %span.glyphicon.glyphicon-chevron-down{"aria-hidden" => "true"}

    #collapseFour.col-md-offset-2.col-md-10.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "headingFour"}
      .well
        = f.fields_for :metrics do  |metric|
          = render 'metric_fields', f: metric
        .links
          = link_to_add_association 'add metric', f, :metrics, class: "btn small-button purple-button"

    .form-group
      .col-md-offset-2.col-md-10
        = f.submit "Submit", class: "btn button orange-button"
        = link_to "Cancel", admin_events_path, class: "btn button orange-button"
