.nested-fields.form-inline
  .row
    .form-group.col-md-4
      = f.label :metric_type_id, 'Type', class: 'col-md-3 control-label'
      .col-md-9
        = f.select :metric_type_id, MetricType.all.collect { |type| [ type.name, type.id ] }, {include_blank: false}, {class: 'form-control'}

    .form-group.col-md-4
      = f.label :name, 'Name', class: 'col-md-3 control-label'
      .col-md-9
        = f.text_field :name, class: 'form-control'

    .form-group.col-md-2
      = f.label :amount, '$', class: 'col-md-3 control-label'
      .col-md-9
        = f.number_field :amount, class: 'form-control', step: 0.01

    .form-group.col-md-2
      = link_to_remove_association "remove", f, class: "pull-right btn small-button red-button"
