= render partial: "shared/header", event: @event

#admin-sessions

.mid_block
  .container
    .row
      .col-md-12
        - if @sessions.empty?
          No sessions!
        - else
          .pull-left
            %span.bold
              Total Submitters
            = ": #{@sessions.collect(&:speakers).flatten.collect(&:id).uniq.count}"
            %span.bold
              Total Sessions
            = ": #{@sessions.count}"
            %span.bold
              People
            = ": #{@sessions.where(talktype: 'people').count}"
            %span.bold
              Tech
            = ": #{@sessions.where(talktype: 'tech').count}"
          .pull-right
            = link_to "Export Sessions", export_admin_sessions_path, class: "button export orange-button"
            %button.promote.button.purple-button Update Selected Sessions
          %table.datatable.table.table-striped.table-bordered{data: { pagelength: 35, sortcolumn: 1, sortorder: 'desc' }}
            %thead
              %tr
                %th= check_box_tag 'select-all', '0', false, class: 'select-all'
                %th.col-md-1 Votes
                %th.col-md-9 Talk Name
                %th.col-md-2 Type
            %tbody
              - @sessions.each do |session|
                %tr
                  %td
                    = check_box_tag 'selected', session.id, session.selected, class: 'selected'
                  %td
                    .center-wrapper
                      = session.total_votes
                  %td= session.name
                  %td= session.talktype
