= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        .row
          .col-md-6
            .well
              %h3.center Dollars
              - unless @expenses.empty?
                .conf-expenses
                  %h4.center Expenses
                  - @expenses.each do |expense|
                    .row
                      .col-md-6.right.bold
                        = "#{expense.name}:"
                      .col-md-6
                        = number_to_currency(expense.amount)

              - unless @revenues.empty?
                .revenue
                  %h4.center Revenue
                  - @revenues.each do |revenue|
                    .row
                      .col-md-6.right.bold
                        = "#{revenue.name}:"
                      .col-md-6
                        = number_to_currency(revenue.amount)

              .totals
                %h4.center Totals
                .row
                  .col-md-6.right.bold
                    Expenses:
                  .col-md-6
                    = number_to_currency(@expense_total)

                .row
                  .col-md-6.right.bold
                    Revenue:
                  .col-md-6
                    = number_to_currency(@revenue_total)

                .row
                  .col-md-6.right.bold
                    Total:
                  .col-md-6.bold
                    = number_to_currency(@total)

          .col-md-6
            .well
              .humans
                %h3.center Humans
                .attendees
                  %h4.center All Attendees
                  - @attendees.each do |attendee|
                    .row
                      .col-md-6.right.bold
                        = "#{attendee.name}:"
                      .col-md-6
                        = number_to_human(attendee.amount)
                .attendees
                  .row
                    .col-md-6
                      %h5.right Gender
                  - @attendees_gender.each do |attendee|
                    .row
                      .col-md-6.right.bold
                        = "#{attendee.name}:"
                      .col-md-6
                        = number_to_human(attendee.amount)
                .attendees
                  .row
                    .col-md-6
                      %h5.right Race
                  - @attendees_race.each do |attendee|
                    .row
                      .col-md-6.right.bold
                        = "#{attendee.name}:"
                      .col-md-6
                        = number_to_human(attendee.amount)

                .speakers
                  %h4.center Speakers
                  - @speakers.each do |speaker|
                    .row
                      .col-md-6.right.bold
                        = "#{speaker.name}:"
                      .col-md-6
                        = number_to_human(speaker.amount)
                .speakers
                  .row
                    .col-md-6
                      %h5.right Gender
                  - @speakers_gender.each do |speaker|
                    .row
                      .col-md-6.right.bold
                        = "#{speaker.name}:"
                      .col-md-6
                        = number_to_human(speaker.amount)
                .speakers
                  .row
                    .col-md-6
                      %h5.right Race
                  - @speakers_race.each do |speaker|
                    .row
                      .col-md-6.right.bold
                        = "#{speaker.name}:"
                      .col-md-6
                        = number_to_human(speaker.amount)
