= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        .row
          .col-md-6
            .well
              %h3 Dollars
              - unless @expenses.empty?
                .conf-expenses
                  %h4 Expenses
                  - @expenses.each do |expense|
                    .row
                      .col-md-5.right.bold
                        = "#{expense.name}:"
                      .col-md-7
                        = number_to_currency(expense.amount)

              - unless @revenues.empty?
                .revenue
                  %h4 Revenue
                  - @revenues.each do |revenue|
                    .row
                      .col-md-5.right.bold
                        = "#{revenue.name}:"
                      .col-md-7
                        = number_to_currency(revenue.amount)

              .totals
                %h4 Totals
                .row
                  .col-md-5.right.bold
                    Expenses:
                  .col-md-7
                    = number_to_currency(@expense_total)

                .row
                  .col-md-5.right.bold
                    Revenue:
                  .col-md-7
                    = number_to_currency(@revenue_total)

                .row
                  .col-md-5.right.bold
                    Total:
                  .col-md-7.bold
                    = number_to_currency(@total)

          .col-md-6
            .well
              .humans
                %h3 Humans
                .attendees
                  %h4 All Attendees
                  - @attendees.each do |attendee|
                    .row
                      .col-md-5.right.bold
                        = "#{attendee.name}:"
                      .col-md-7
                        = number_to_human(attendee.amount)
                .attendees
                  %h5 Gender
                  - @attendees_gender.each do |attendee|
                    .row
                      .col-md-5.right.bold
                        = "#{attendee.name}:"
                      .col-md-7
                        = number_to_human(attendee.amount)
                .attendees
                  %h5 Race
                  - @attendees_race.each do |attendee|
                    .row
                      .col-md-5.right.bold
                        = "#{attendee.name}:"
                      .col-md-7
                        = number_to_human(attendee.amount)

                .speakers
                  %h4 Speakers
                  - @speakers.each do |speaker|
                    .row
                      .col-md-5.right.bold
                        = "#{speaker.name}:"
                      .col-md-7
                        = number_to_human(speaker.amount)
                .speakers
                  %h5 Gender
                  - @speakers_gender.each do |speaker|
                    .row
                      .col-md-5.right.bold
                        = "#{speaker.name}:"
                      .col-md-7
                        = number_to_human(speaker.amount)
                .speakers
                  %h5 Race
                  - @speakers_race.each do |speaker|
                    .row
                      .col-md-5.right.bold
                        = "#{speaker.name}:"
                      .col-md-7
                        = number_to_human(speaker.amount)
