.well.nested-fields

  .form-group
    =f.label :event_id, class: 'col-md-2 control-label'
    .col-md-10
      =f.select :event_id, Event.all.collect { |e| [ "#{e.name} #{e.start_date.strftime("%Y")}", e.id ] }, {class: 'form-control'}

  .form-group
    = f.label :name, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :keynote, class: 'col-md-2 control-label'
    .col-md-10
      = f.select(:keynote, options_for_select([["No", false], ["Yes", true]], f.object.keynote), {}, {class: 'form-control'})

  .form-group
    = f.label :selected, class: 'col-md-2 control-label'
    .col-md-10
      = f.select(:selected, options_for_select([["No", false], ["Yes", true]], f.object.selected), {}, {class: 'form-control'})

  .form-group
    = f.label :abstract, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :abstract, class: 'form-control'

  .form-group
    = f.label :talktype, "Type of Talk", class: 'col-md-2 control-label'
    .col-md-10
      = f.select(:talktype, options_for_select([["People Talk", "people"], ["Technical Talk", "tech"]], f.object.talktype))

  .form-group
    = f.label :room_id, "Room", class: 'col-md-2 control-label'
    .col-md-10
      = f.select :room_id, @event.venue.rooms.collect { |r| [ r.name, r.id ] }, {include_blank: "--"}, {class: 'form-control'}

  .form-group
    = f.label :slot, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :slot_id, @event.slots.collect { |s| [ s.time, s.id ] }, {include_blank: "--"}, {class: 'form-control'}

  .form-group
    .col-md-12
      = link_to_remove_association "remove session", f, class: "pull-right btn small-button red-button"
