= render partial: "shared/header", event: @event

.mid_block.schedule
  .container
    .row
      .col-md-12.visible-md-block.visible-lg-block
        - @schedule.each do |day, slots|
          %h4= day.strftime("%A, %b %d")
          %table.table.table-striped.table-bordered
            %tr
              %td.col-md-1
                - @event.venue.rooms.pluck(:name).each do |room|
                  %td.col-md-2
                    %h5= room
            - slots.each do |slot|
              - ops = true
              %tr
                %td.col-md-1
                  %h5= slot.time_slot
                - @event.venue.rooms.each do |room|
                  - session = slot.sessions.selected.where(room: room).first
                  - if session && session.talktype.eql?("ops")
                    - ops = false
                    %td{colspan: 4}
                      = session.name
                  - elsif session
                    %td
                      - session = session.decorate
                      = link_to "#{session.speaker_names}: #{session.name}", "sessions#session_#{session.id}"
                  - elsif ops
                    %td


      .col-md-12.visible-xs-block.visible-sm-block.phone-schedule
        - @schedule.each do |day, slots|
          %h4= day.strftime("%A, %b %d")
          %table.table.table-striped.table-bordered
            - slots.each do |slot|
              %ul
                %h5= slot.time_slot
                - @event.venue.rooms.each do |room|
                  - if session = slot.sessions.selected.where(room: room).first
                    - session = session.decorate
                    %li
                      - if session.talktype.eql?("ops")
                        = session.name
                      - else
                        = link_to "#{room.name}: #{session.speaker_names}: #{session.name}", "sessions#session_#{session.id}"
