.mid_block
  .container
    .row
      .col-md-7
        %h4= "What is #{current_event.name}?"
        %p= current_event.about

        %h4 Scholarships now available!
        %p= raw "We are proud to announce that we are now accepting applications for scholarships to Self.conference 2015! The scholarship program is available to people from underrepresented groups in technology who also have financial need. If this sounds like something you'd like to apply for, head over to our #{link_to "application", "/scholarship_applications"} and let us know! If this sounds like something you'd like to support, feel free to chip-in a little extra with your #{link_to "ticket purchase", "/#tickets"} or check out our #{link_to "sponsorship options", "/sponsor"}."

      .col-md-5
        .blue_block.sign-up-box
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate.form-horizontal{:action => "//selfconference.us5.list-manage.com/subscribe/post?u=e629a43dedc6cbed53830761c&id=3dee572f6e", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              #mc_embed_signup_scroll
                %h4 get email updates:
                .form-group
                  %label.col-sm-4.control-label{:for => "mce-EMAIL"}
                    Email
                    %span.asterisk *
                  .col-md-8
                    %input#mce-EMAIL.required.email.form-control{:name => "EMAIL", :type => "email", :value => ""}/
                .form-group
                  %label.col-sm-4.control-label{:for => "mce-FNAME"}
                    First Name
                    %span.asterisk *
                  .col-md-8
                    %input#mce-FNAME.required.form-control{:name => "FNAME", :type => "text", :value => ""}/
                .form-group
                  %label.col-sm-4.control-label{:for => "mce-LNAME"}
                    Last Name
                    %span.asterisk *
                  .col-md-8
                    %input#mce-LNAME.required.form-control{:name => "LNAME", :type => "text", :value => ""}/
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_e629a43dedc6cbed53830761c_3dee572f6e", :tabindex => "-1", :type => "text", :value => ""}/
                .center-wrapper
                  %button#mc-embedded-subscribe.sign-up{:name => "subscribe", :type => "submit", :value => "Subscribe"} Subscribe

%section#speakers
  .color-line
    .colored_line_a>
    .colored_line_b>
    .colored_line_c>
    .colored_line_d>
    .colored_line_e>
  .blue_header
    .container
      .row
        .col-md-12
          %h1 speakers
  .blue_block.keynote
    .container
      .row
        -current_event.speakers.sample(8).each do |speaker|
          .col-md-3.main-page-speaker
            %a{:href => "sessions#speaker_#{speaker.id}"}
              .center
                .img-rounded.img-responsive.speaker-img{style: "background-image:url(https://s3.amazonaws.com/selfconf/speakers/#{speaker.name.downcase.parameterize}.jpg);"}
              %h4= speaker.name
              %p= speaker.sessions.sample.name

        .row
          .col-md-12
            Check out
            %a{:href => "sessions"} all our speakers
            %span>="!"

%section#location
  .color-line
    .colored_line_a>
    .colored_line_b>
    .colored_line_c>
    .colored_line_d>
    .colored_line_e>
  .blue_header
    .container
      .row
        .col-md-12
          %h1 LOCATION
  .mid_block
    .container
      .row
        .col-md-12
          %h4= current_event.venue.name
          %p= current_event.venue.about
          %iframe{:frameborder => "0", :height => "450", :src => current_event.venue.maps_link, :style => "border:0", :width => "100%"}
      %section#room-block
        .row
          .col-md-12
            %h4 Need a room? We've got a room block at Courtyard Marriott
            %p
              Get yourself a room in our block either by calling (800) 321-2211 (make sure to mention the Courtyard by Marriott, Detroit Downtown and Self.conference to get the group rate) or by
              %a{href: "http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Self.conference%20Room%20block%5Edtwdc%60selsela%60169.00%60USD%60false%605/28/15%605/30/15%605/7/15&app=resvlink&stop_mobi=yes"} booking online
              =". Reservations must be booked by Thursday, May 7th in order to get the group rate."
%section#tickets
  .color-line
    .colored_line_a>
    .colored_line_b>
    .colored_line_c>
    .colored_line_d>
    .colored_line_e>
  .blue_header
    .container
      .row
        .col-md-12
          %h1 TICKETS
  .blue_block
    .container
      .row
        .col-md-12
          %p
            If the Eventbrite widget is not working for some reason, just head over to
            %a{:href => current_event.tickets_link}= current_event.tickets_link
            to get your tickets.
          %div{:style => "width:100%; text-align:left;"}
            %iframe{:allowtransparency => "true", :frameborder => "0", :height => "415", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :src => "#{current_event.tickets_iframe_link}", :vspace => "0", :width => "100%"}
            %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
              %a{:href => "http://www.eventbrite.com/r/etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Event management
              %span{:style => "color:#ddd;"} for
              %a{:href => "https://selfconf2015.eventbrite.com/?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} self.conference 2015
              %span{:style => "color:#ddd;"} powered by
              %a{:href => "#{current_event.tickets_link}?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Eventbrite
%section#sponsors
  .color-line
    .colored_line_a>
    .colored_line_b>
    .colored_line_c>
    .colored_line_d>
    .colored_line_e>
  .blue_header
    .container
      .row
        .col-md-12
          %h1 sponsors
  .mid_block
    .container
      -current_event.sponsor_levels.each do |sponsor_level|
        -unless sponsor_level.sponsors.empty?
          .row
            %h5= "#{sponsor_level.name} Sponsors"
            %ul.sponsors
              -sponsor_level.sponsors.each do |sponsor|
                %li.col-md-2
                  %a{:href => sponsor.link}
                    %img.img-responsive{:src => sponsor.photo}/

  %section#organizers
    .color-line
      .colored_line_a>
      .colored_line_b>
      .colored_line_c>
      .colored_line_d>
      .colored_line_e>
    .blue_header
      .container
        .row
          .col-md-12
            %h1 ORGANIZERS
    .blue_block
      .container
        .row
          -current_event.organizers.each do |organizer|
            .col-md-4
              %img.img-responsive.img-rounded.speaker-img{:src => organizer.photo}/
              %h4= organizer.name
              %p= raw organizer.bio
              %p
                ="Want to email #{organizer.name.split(" ").first}? Do it: "
                %a{:href => "mailto:#{organizer.email}"}= "@#{organizer.email}"
                ="."
                %a{:href => "http://twitter.com/#{organizer.twitter}"}= "@#{organizer.twitter}"
        .row
          .col-md-12
            .center-wrapper
              %p
                Not sure who to contact? Just reach out to us at
                %a{:href => "mailto:hello@selfconference.org"} hello@selfconference.org

    %script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
    :javascript
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
