= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        %table.datatable.table.table-striped.table-bordered
          %thead
            %tr
              %th Name
              %th Twitter
              %th Email
              %th.actions
          %tbody
            - User.all.each do |user|
              %tr
                %td= user.name
                %td= user.twitter
                %td= user.email
                %td.actions
                  %btn= link_to "Make Selector", make_selector_admin_user_path(user), method: :post, class: "btn small-button purple-button" unless user.selector?
                  %btn= link_to "Make Admin", make_admin_admin_user_path(user), method: :post, class: "btn small-button purple-button" unless user.admin?
