= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        %ul
          %li= link_to "Events", admin_events_path
          %li= link_to "Users", admin_users_path
          %li= link_to "Submissions", admin_submissions_path
          %li= link_to "Speakers", admin_speakers_path
