= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        %ul.admin-links
          %li= link_to "Events", admin_events_path
          %li= link_to "Speakers", admin_speakers_path
          %li= link_to "Users", list_users_admin_speakers_path
          %li= link_to "Sessions", admin_sessions_path
          %li= link_to "Schedule Builder", make_schedule_admin_sessions_path
