= render partial: "shared/header", event: @event

.mid_block
  .container
    .row
      .col-md-12
        - if @submissions.empty?
          No submissions!
        - else
          %span.bold
            Total
          = ": #{@submissions.count}"
          %span.bold
            People
          = ": #{@submissions.where(talktype: 'people').count}"
          %span.bold
            Tech
          = ": #{@submissions.where(talktype: 'tech').count}"
          %table.datatable.table.table-striped.table-bordered{data: { pagelength: 50, sortorder: 'desc' }}
            %thead
              %tr
                %th.col-md-1 Votes
                %th.col-md-2 Name
                %th Talk Name
                %th Type
                %th Abstract
                %th
            %tbody
              - @submissions.each do |submission|
                %tr
                  %td.actions
                    .center-wrapper
                      = submission.votes.pluck(:value).reduce(:+)
                  %td= submission.user.name
                  %td= submission.talkname
                  %td= submission.talktype
                  %td= simple_format truncate(submission.abstract, length: 50)
                  %td
                    = link_to "Make Session", make_session_admin_submission_path(submission), class: "btn small-button purple-button"
