= render partial: "shared/header", event: @event

#admin-submissions

.mid_block
  .container
    .row
      .col-md-12
        - if @submissions.empty?
          No submissions!
        - else
          .pull-left
            %span.bold
              Total
            = ": #{@submissions.count}"
            %span.bold
              People
            = ": #{@submissions.where(talktype: 'people').count}"
            %span.bold
              Tech
            = ": #{@submissions.where(talktype: 'tech').count}"
          .pull-right
            %button.promote.button.purple-button Promote selected to sessions
          %table.datatable.table.table-striped.table-bordered{data: { pagelength: 35, sortcolumn: 1, sortorder: 'desc' }}
            %thead
              %tr
                %th= check_box_tag 'select-all', '0', false, class: 'select-all'
                %th.col-md-1 Votes
                %th.col-md-2 Name
                %th.col-md-2 Email
                %th.col-md-3 Talk Name
                %th Type
            %tbody
              - @submissions.each do |submission|
                %tr
                  %td
                    = check_box_tag 'selected', '0', false, class: 'selected', data: { id: submission.id }
                  %td
                    .center-wrapper
                      = submission.votes.pluck(:value).reduce(:+)
                  %td= submission.user.name
                  %td= submission.user.email
                  %td= submission.talkname
                  %td= submission.talktype
