!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,900", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "self.conference", :property => "og:title"}/
    %meta{:content => "http://selfconference.org", :property => "og:url"}/
    %meta{:content => "http://selfconference.org/img/self.conf.avatar.png", :property => "og:image"}/
    %meta{:content => "self.conference", :property => "og:site_name"}/
    %meta{:content => "Self.conference is a mix of fantastic tech presentations and insightful soft talks in fabulous downtown Detroit May 29-30, 2015!", :property => "og:description"}/
    %meta{:content => "Self.conference is a mix of fantastic tech presentations and insightful soft talks in fabulous downtown Detroit May 29-30, 2015!", :name => "description"}/
    %title= @title
    = csrf_meta_tags
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
  %body{"data-spy" => "scroll", "data-target" => ".navbar"}
    #main-nav.navbar.navbar-default
      .container
        .row
          .col-md-12
            .navbar-header
              %button.navbar-toggle.collapsed{"data-target" => "#menu", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            #menu.navbar-collapse.collapse
              %ul.navbar-nav.nav
                %li
                  %a{:href => "/"} home
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    menu
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "/#tickets"} get tickets
                    %li
                      %a{:href => "/sessions"} speakers & sessions
                    %li
                      %a{:href => "/schedule"} schedule
                    %li
                      %a{:href => "/scholarship_applications"} apply for a scholarship
                    %li
                      %a{:href => "/#location"} location
                    %li
                      %a{:href => "/#sponsors"} sponsors
                    %li
                      %a{:href => "/coc"} code of conduct
                    %li
                      %a{:href => "/#organizers"} organizers
              %a.navbar-link.navbar-right{:href => "http://lanyrd.com/#{current_event.lanyard}"}
                =image_tag "lanyrd.png", {class: "social navbar-text"}
              %a.navbar-link.navbar-right{:href => "http://twitter.com/#{current_event.twitter}"}
                =image_tag "twitter.png", {class: "social navbar-text"}
              %a.navbar-link.navbar-right.btn.sponsor-nav-btn{:href => "/sponsor"}
                Sponsor
    .top_block
      .container
        .row
          .col-md-12
            %h1
              %span{:style => "font-weight:900"}> self.
              conference
            %ul.tag-line.lead
              %li= "#{current_event.decorate.when}"
              %li ·
              %li
                ="#{current_event.venue.address}, "
                %span{:style => "font-weight:900"} Detroit
    .color-line
      .colored_line_a>
      .colored_line_b>
      .colored_line_c>
      .colored_line_d>
      .colored_line_e>
    %div
      = yield
    .container
      .row
        .col-md-12
          %a{:href => "http://twitter.com/selfconference"}
            =image_tag "twitter.png", {class: "footer-twitter"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48385814-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
