!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    %link{:href => "//fonts.googleapis.com/css?family=Lato:100,300,900", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => @event.name, :property => "og:title"}/
    %meta{:content => @event.url, :property => "og:url"}/
    %meta{:content => image_url("og.image.png"), :property => "og:image"}/
    %meta{:content => @event.name, :property => "og:site_name"}/
    %meta{:content => @event.about, :property => "og:description"}/
    %meta{:content => @event.about, :name => "description"}/
    %title= @event.name
    = csrf_meta_tags
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
  %body{"data-spy" => "scroll", "data-target" => ".navbar"}
    = render 'application/favicon'
    = yield :nav
    .top_block
      .container
        .row
          .col-md-12
            %h1
              %span{style: "font-weight: 900;"}> self.
              conference
            %ul.tag-line.lead
              = yield :subtitle

    = render partial: "shared/color_line"

    = render partial: "shared/flashes"
    = yield

    .container
      .row
        .col-md-12
          %a{:href => "http://twitter.com/#{@event.twitter}"}
            =image_tag "twitter.png", {class: "footer-twitter"}


    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "#{@event.ga_tracking_id}"]);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
